{% extends 'generador/layout.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola jorge como estas</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae laborum eveniet obcaecati harum officiis quae omnis odit ab error eligendi dignissimos cupiditate quasi tempora qui cum, inventore provident reiciendis! Eos!</p>
</body>
</html>
{% endblock %}